<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.letus179.com.givemefive">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.RegisterMainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.GetBackPwdActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.RegisterProtocolActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyAllActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyInfoActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyNickActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyPhoneActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyPhoneNewActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MySuggestionActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyAddressActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".mythings.MyAddressNewActivity"
            android:launchMode="singleTask">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.givemefive.takephone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--知道Uri的共享路径-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>